<br><br>
<div class="col-md-10 offset-md-1">
  <div class="card">
    <div class="card-header tituloCard" id='formUsr'><i class="fas fa-book"></i> Resumen</div> 
    <div class="cardd-body"> 
      <div class="container">
        <p class="separador text-center">Lista de ventas totales</p>
        <table class="table  table-dark table-hover text-left">
          <thead>
            <tr>
              <th scope="col">Cliente</th>
              <th scope="col">Producto</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Monto</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
           <tbody>
             <tr *ngFor="let sale of saleList; let i=index;">
               <td >{{sale.customer}}</td>
               <td>{{sale.nameProduct}}</td>
               <td>$ {{sale.price}}</td>
               <td>{{sale.quantity}}</td>
               <td>$ {{sale.amount}}</td>
               <td>{{sale.sale_date | date: 'M/d/yy, h:mm a'}}</td>
             </tr>
           </tbody>
        </table>
       
      </div>
    </div>
  </div>
</div>
