<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo.png" alt="logo" width="200" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler bg-danger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">  
       <span class=" d-flex me-auto"></span>
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item me-4 mb-2 ">
          <button class="btn btn-danger btn-lg" type="button"  routerLink="/suppliers" routerLinkActive="active"><i class="fas fa-truck"></i> Proveedores</button>
        </li>
        <li class="nav-item me-4 mb-2">
          <button class="btn btn-danger btn-lg" type="button" routerLink="/products" routerLinkActive="active"><i class="fas fa-warehouse"></i> Productos</button>
        </li>
        <li class="nav-item me-4 mb-2">
          <button class="btn btn-danger btn-lg" type="button" routerLink="/sales" routerLinkActive="active"><i class="fas fa-cash-register"></i> Venta</button>
        </li>
        <li class="nav-item me-4 mb-2">
          <button class="btn btn-danger btn-lg" type="button" routerLink="/summary" routerLinkActive="active"><i class="fas fa-book"></i> Resumen</button>
        </li>
        <li class="nav-item me-4 mb-2">
          <button class="btn btn-danger btn-lg" type="button"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</button>
        </li>
      </ul>      
    </div>
  </div>
</nav>
